<!DOCTYPE html>

<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="styles/flower-catalog.css">
  <link rel="stylesheet" href="styles/guest-book.css">
</head>

<body>
  <h1 id="heading"><a href="index.html">&lt;&lt;</a>&nbsp;Guest Book</h1>
  <h2>Leave Comment</h2>
  <form action="comment" method="POST">
    <label>
      Name:<input type="text" name="name" required>
    </label>
    <br>
    <label>
      Comment:<textarea cols="30" rows="5" name="comment" required></textarea>
    </label>
    <br>
    <input type="submit" value="Submit">
  </form>
  <div class="comments">
    __comments__
  </div>
</body>

</html>