#heading {
  border-top: 1px solid rgb(223, 218, 218);
  border-bottom: 2px solid rgb(184, 170, 170);
  text-align: right;
  padding-right: 150px;
}

#flower-img {
  width: 1200px;
}

.links {
  padding-top: 200px;
  padding-left: 5px;
}

#watering-can {
  padding-left: 80px;
}